<div class="codepen">
  <div class="body">
    <div class="top">
      <div>
        <div class="logo">
        </div>
        <div class="title" contentEditable>Mercedes</div>
      </div>
    </div>
    <div class="mid">
      <div class="html tab"></div>
      <div class="css tab"></div>
      <div class="js tab"></div>
    </div>
    <div class="preview"></div>
    <div class="bottom"></div>
  </div>
  <svg class="feet" viewBox="0 0 50 40">
    <path d="m 33.865999,2.4621617 c 5.91069,24.0121503 -1.10825,35.4641003 -1.10825,35.4641003 h 11.08253"/>
    <path d="M 12.778709,2.4621617 C 6.8680187,26.474312 13.886959,37.926262 13.886959,37.926262 H 2.8044287"/>
  </svg>
</div>

/*<audio autoplay loop>
  <source src="https://cdn.rawgit.com/ManzDev/codevember2017/master/assets/bonetrousle-tobyfox-by-bulby.mp3"/>
  <source src="https://cdn.rawgit.com/ManzDev/codevember2017/master/assets/bonetrousle-tobyfox-by-bulby.ogg"/>
</audio>*/